Repository scene-connect/libdots: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py311-plus
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  pass_filenames: true

ruff:
  name: ruff
  language: system
  entry: poetry run ruff --fix
  pass_filenames: true

black:
  name: black
  language: system
  entry: poetry run black
  pass_filenames: true

pyright:
  name: pyright
  language: system
  entry: poetry run pyright
  pass_filenames: false

poetry-check:
  name: poetry check format of pyproject.toml
  language: system
  entry: poetry check --no-interaction --quiet
  pass_filenames: false

poetry-lock-check:
  name: poetry lock check
  language: system
  entry: poetry check --lock --no-interaction
  pass_filenames: false

Fix bug and add unittest for it
  pyproject.toml
  src/libdots/model/service.py
  tests/conftest.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Bugfix on order of abstractmethod and classmethod decorators
  pyproject.toml
  src/dots_utilities/io/io_data.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add protobuf files and python message definitions for all common io messages
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/dots_utilities/io/__init__.py
  src/dots_utilities/io/data.py
  src/dots_utilities/io/message_definitions/healthcheck.proto
  src/dots_utilities/io/message_definitions/lifecycle.proto
  src/dots_utilities/io/messages/__init__.py
  src/dots_utilities/io/messages/healthcheck_pb2.py
  src/dots_utilities/io/messages/lifecycle_pb2.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Revert previous change
  pyproject.toml
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Small mistake and update some dependencies
  poetry.lock
  pyproject.toml
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add data inventory and mqtt classes
  poetry.lock
  pyproject.toml
  src/dots_utilities/io/input_data_inventory.py
  src/dots_utilities/io/mqtt_client.py
  src/dots_utilities/io/mqtt_log_handler.py
  src/dots_utilities/types.py
  typings/esdl/__init__.pyi
  typings/esdl/_version.pyi
  typings/esdl/ecore_documentation.pyi
  typings/esdl/edr/__init__.pyi
  typings/esdl/esdl.pyi
  typings/esdl/esdl_handler.pyi
  typings/esdl/geometry/__init__.pyi
  typings/esdl/profiles/__init__.pyi
  typings/esdl/resources/__init__.pyi
  typings/esdl/resources/xmi.pyi
  typings/esdl/resources/xmlresource.pyi
  typings/esdl/support_functions.pyi
  typings/esdl/units/__init__.pyi
  typings/esdl/utils/__init__.pyi
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Made a function ServiceCalc.calculation_function_input_types which returns per calculation function what types are expected as input, used for the InputsDataInventory
  pyproject.toml
  src/dots_utilities/model/service_calc.py
  tests/model/test_service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Set service_name directly in concstructor
  pyproject.toml
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Fix filename in downloading files from gcs
  pyproject.toml
  src/libdots/profiles.py
  tests/profiles/test_uri_profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

bump version number
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Add protobuf type stub package
  poetry.lock
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Add sphinx docs
  .github/workflows/ci.yml
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/libdots.io.messages.rst
  docs/libdots.io.rst
  docs/libdots.model.rst
  docs/libdots.rst
  docs/make.bat
  docs/quickstart.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/libdots/io/__init__.py
  src/libdots/io/input_data_inventory.py
  src/libdots/io/io_data.py
  src/libdots/io/messages/__init__.py
  src/libdots/io/mqtt_client.py
  src/libdots/model/__init__.py
  src/libdots/model/config.py
  src/libdots/model/service.py
  src/libdots/model/service_calc.py
  src/libdots/profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add sphinx docs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/libdots.io.messages.rst
  docs/libdots.io.rst
  docs/libdots.model.rst
  docs/libdots.rst
  docs/make.bat
  docs/quickstart.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/libdots/io/__init__.py
  src/libdots/io/input_data_inventory.py
  src/libdots/io/io_data.py
  src/libdots/io/messages/__init__.py
  src/libdots/io/mqtt_client.py
  src/libdots/model/__init__.py
  src/libdots/model/config.py
  src/libdots/model/service.py
  src/libdots/model/service_calc.py
  src/libdots/profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Improve docs
  .pre-commit-config.yaml
  README.md
  docs/quickstart.rst
  docs/requirements.txt
  pyproject.toml
  src/libdots/io/io_data.py
  src/libdots/model/config.py
  src/libdots/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Install docs group as well
  .github/workflows/ci.yml
Due: none

Add sphinx docs (#20)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/libdots.io.messages.rst
  docs/libdots.io.rst
  docs/libdots.model.rst
  docs/libdots.rst
  docs/make.bat
  docs/quickstart.rst
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/libdots/io/__init__.py
  src/libdots/io/input_data_inventory.py
  src/libdots/io/io_data.py
  src/libdots/io/messages/__init__.py
  src/libdots/io/mqtt_client.py
  src/libdots/model/__init__.py
  src/libdots/model/config.py
  src/libdots/model/service.py
  src/libdots/model/service_calc.py
  src/libdots/profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Install dependencies from poetry
  .readthedocs.yaml
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

RTD: Install dependencies from poetry (#21)
  .readthedocs.yaml
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Bump final version number for release
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Give permission to push to pypi
  .github/workflows/ci-push.yml
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Don't run ci on push to main
  .github/workflows/ci.yml
Due: none

Update image in docs, update version number and run ci also on push to dev
  .github/workflows/ci.yml
  docs/index.rst
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Next version (#25)
  .github/workflows/ci.yml
  docs/index.rst
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Fix dev ci and change docs image
  .github/workflows/ci-dev.yml
  .github/workflows/ci.yml
  docs/index.rst
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Change Homepage location
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Small docs ci fix (#26)
  .github/workflows/ci-dev.yml
  .github/workflows/ci.yml
  docs/index.rst
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Remove unneeded secrets from dependabot
  .github/dependabot.yml
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Remove unneeded secrets from dependabot (#27)
  .github/dependabot.yml
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Another hotfix release for some docs
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Remove more references to zuos private repos
  .github/dependabot.yml
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

update some packages
  poetry.lock
Due: pyright, poetry-lock-check

Update packages and fix dependabot (#28)
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

bump version
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Add documentation link to README.md
  README.md
Due: none

Fix project urls
  .github/CODEOWNERS
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Change version number to 1.6.3 for link fix
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Path conditions:
  pyupgrade: any of: .py$
  isort: any of: .py$
  ruff: any of: .py$
  black: any of: .py$
  pyright: any of: (.py|^pyproject.toml|^poetry.lock)$
  poetry-check: any of: ^pyproject.toml$
  poetry-lock-check: any of: ^(poetry.lock|pyproject.toml)$
