Repository scene-connect/libdots: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py311-plus
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  pass_filenames: true

ruff:
  name: ruff
  language: system
  entry: poetry run ruff --fix
  pass_filenames: true

black:
  name: black
  language: system
  entry: poetry run black
  pass_filenames: true

pyright:
  name: pyright
  language: system
  entry: poetry run pyright
  pass_filenames: false

poetry-check:
  name: poetry check format of pyproject.toml
  language: system
  entry: poetry check --no-interaction --quiet
  pass_filenames: false

poetry-lock-check:
  name: poetry lock check
  language: system
  entry: poetry check --lock --no-interaction
  pass_filenames: false

Add license information
  LICENSE.txt
  pyproject.toml
  src/libdots/__init__.py
  src/libdots/io/__init__.py
  src/libdots/io/input_data_inventory.py
  src/libdots/io/io_data.py
  src/libdots/io/messages/__init__.py
  src/libdots/io/mqtt_client.py
  src/libdots/io/mqtt_log_handler.py
  src/libdots/model/__init__.py
  src/libdots/model/config.py
  src/libdots/model/esdl_parser.py
  src/libdots/model/influxdb_connector.py
  src/libdots/model/service.py
  src/libdots/model/service_calc.py
  src/libdots/profiles.py
  src/libdots/types.py
  tests/__init__.py
  tests/conftest.py
  tests/io/test_mqtt_client.py
  tests/model/test_service.py
  tests/model/test_service_calc.py
  tests/profiles/test_uri_profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Update ci to python 3.12
  .github/workflows/ci.yml
Due: none

Publish to pypi and remove our private dependencies
  poetry.lock
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Publish to PyPI
  .github/workflows/ci.yml
Due: none

Linting fixes
  pyproject.toml
  src/libdots/io/messages/healthcheck_pb2.pyi
Due: pyright, poetry-check, poetry-lock-check

Remove dependency on google authentication since we don't use it anyway for a FOSS library
  .github/workflows/ci-push.yml
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Bump the version number so we can test releasing a full version from github actions
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Make foss ready (#18)
  .github/workflows/ci-push.yml
  .github/workflows/ci.yml
  LICENSE.txt
  poetry.lock
  pyproject.toml
  src/libdots/__init__.py
  src/libdots/io/__init__.py
  src/libdots/io/input_data_inventory.py
  src/libdots/io/io_data.py
  src/libdots/io/messages/__init__.py
  src/libdots/io/messages/healthcheck_pb2.pyi
  src/libdots/io/mqtt_client.py
  src/libdots/io/mqtt_log_handler.py
  src/libdots/model/__init__.py
  src/libdots/model/config.py
  src/libdots/model/esdl_parser.py
  src/libdots/model/influxdb_connector.py
  src/libdots/model/service.py
  src/libdots/model/service_calc.py
  src/libdots/profiles.py
  src/libdots/types.py
  tests/__init__.py
  tests/conftest.py
  tests/io/test_mqtt_client.py
  tests/model/test_service.py
  tests/model/test_service_calc.py
  tests/profiles/test_uri_profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add fake pyproject.toml to make ci pass
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Initial commit
  .editorconfig
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  poetry.lock
  poetry.toml
  pyproject.toml
  src/zuos_python_package_template/main.py
  src/zuos_python_package_template/py.typed
  tests/test_main.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add script to compile protobuf, including type definition magic
  compile_protobuf.sh
  poetry.lock
  pyproject.toml
  src/dots_utilities/io/messages/healthcheck_pb2.py
  src/dots_utilities/io/messages/healthcheck_pb2.pyi
  src/dots_utilities/io/messages/lifecycle_pb2.py
  src/dots_utilities/io/messages/lifecycle_pb2.pyi
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

rename dots_utilities to libdots
  README.md
  pyproject.toml
  scripts/compile_protobuf.sh
  src/libdots/__init__.py
  src/libdots/io/__init__.py
  src/libdots/io/input_data_inventory.py
  src/libdots/io/io_data.py
  src/libdots/io/message_definitions/healthcheck.proto
  src/libdots/io/message_definitions/lifecycle.proto
  src/libdots/io/messages/__init__.py
  src/libdots/io/messages/healthcheck_pb2.py
  src/libdots/io/messages/healthcheck_pb2.pyi
  src/libdots/io/messages/lifecycle_pb2.py
  src/libdots/io/messages/lifecycle_pb2.pyi
  src/libdots/io/mqtt_client.py
  src/libdots/io/mqtt_log_handler.py
  src/libdots/model/__init__.py
  src/libdots/model/config.py
  src/libdots/model/esdl_parser.py
  src/libdots/model/influxdb_connector.py
  src/libdots/model/service.py
  src/libdots/model/service_calc.py
  src/libdots/profiles.py
  src/libdots/py.typed
  src/libdots/types.py
  tests/conftest.py
  tests/io/test_mqtt_client.py
  tests/model/test_service_calc.py
  tests/profiles/test_uri_profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Improve typing of pandera/polars DataFrames and add optional sort_by argument when reading csv data
  pyproject.toml
  src/dots_utilities/profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add connected_output_esdl_objects to ServiceCalc
  pyproject.toml
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

parse datetimes when reading csv
  pyproject.toml
  src/libdots/profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Use Mapping instead of dict to allow subclasses to match
  pyproject.toml
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Make instance variables non optional and declare them on the class, rather then in the constructor
  pyproject.toml
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Turned receives_service_names into receives_service_data for the InputDataInventory
  pyproject.toml
  src/dots_utilities/model/esdl_parser.py
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Correct NewStep.parameters_dict and add some convenience functions to ServiceCalc
  pyproject.toml
  src/dots_utilities/io/io_data.py
  src/dots_utilities/model/service_calc.py
  src/dots_utilities/types.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Forgot to add __init__.py
  src/dots_utilities/__init__.py
Due: pyupgrade, isort, ruff, black, pyright

Make google cloud storage mandatory
  poetry.lock
  pyproject.toml
  src/libdots/profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add protobuf files and python message definitions for all common io messages
  src/dots_utilities/io/data.py
Due: pyupgrade, isort, ruff, black, pyright

Created DOTSUtilities
  README.md
  poetry.lock
  pyproject.toml
  src/dots_utilities/main.py
  src/dots_utilities/py.typed
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Added dots_utilities.model.service.Service
  pyproject.toml
  src/dots_utilities/model/service.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add log_level (and forgot to commit a unittest earlier)
  pyproject.toml
  src/libdots/model/config.py
  tests/model/test_service.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add type:ignores selectively for auto-generated protobuf code
  pyproject.toml
  scripts/compile_protobuf.sh
  src/dots_utilities/io/messages/healthcheck_pb2.py
  src/dots_utilities/io/messages/lifecycle_pb2.py
  src/dots_utilities/io/messages/lifecycle_pb2.pyi
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add a function to read and validate csv data with pandera and polars
  poetry.lock
  pyproject.toml
  src/dots_utilities/profiles.py
  tests/profiles/test_uri_profiles.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Fix .pre-commit-config.yaml
  .pre-commit-config.yaml
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Add IODataInterface, NewStep and ModelParameters
  pyproject.toml
  src/dots_utilities/io/io_data.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add a number of tests
  pyproject.toml
  src/dots_utilities/model/service_calc.py
  tests/__init__.py
  tests/conftest.py
  tests/io/test_mqtt_client.py
  tests/model/test_service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Forgot to add __init__.py
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Better generics
  poetry.lock
  pyproject.toml
  src/dots_utilities/io/mqtt_client.py
  src/dots_utilities/model/service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Also allow upper case log levels
  pyproject.toml
  src/libdots/model/config.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Rename Service to BaseService
  pyproject.toml
  src/dots_utilities/model/service.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

bump version number
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Fix README.md
  README.md
  pyproject.toml
Due: pyright, poetry-check, poetry-lock-check

Added base_setup to run code before the esdl object loop, but after the energy_system was setup.
  pyproject.toml
  src/libdots/model/service_calc.py
  tests/conftest.py
  tests/model/test_service_calc.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Add service configuration to dots_utilities.model.config and use taht in the service
  poetry.lock
  pyproject.toml
  src/dots_utilities/model/config.py
  src/dots_utilities/model/service.py
Due: pyupgrade, isort, ruff, black, pyright, poetry-check, poetry-lock-check

Path conditions:
  pyupgrade: any of: .py$
  isort: any of: .py$
  ruff: any of: .py$
  black: any of: .py$
  pyright: any of: (.py|^pyproject.toml|^poetry.lock)$
  poetry-check: any of: ^pyproject.toml$
  poetry-lock-check: any of: ^(poetry.lock|pyproject.toml)$
